<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LTW.TracNghiemOnline</display-name>
  <welcome-file-list>
    <welcome-file>/home</welcome-file>
    <welcome-file>/views/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>servletAction.HomepageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servletAction.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExamListServlet</servlet-name>
    <servlet-class>servletAction.ExamListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExamListServlet</servlet-name>
    <url-pattern>/exam-list-detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>