#tbl-part1{
	display: block;
}
#tbl-part2{
	display: none;
}
#tbl-part3{
	display: none;
}
#tbl-part4{
	display: none;
}
#tbl-part5{
	display: none;
}
#tbl-part6{
	display: none;
}
#tbl-part7{
	display: none;
}


